<!DOCTYPE html>
<html>
<head>
    <title>Flask Project</title>
    <!-- Add Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script
      src="https://kit.fontawesome.com/0182eb43ce.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&family=Gravitas+One&family=Oranienbaum&family=Parisienne&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto+Mono:ital,wght@0,200;0,400;0,600;1,700&family=Rye&display=swap" rel="stylesheet">

    <style>
        /* Styl pro první sekci, která bude vždy velká jako obrazovka */
        .full-screen-section {
          height: 100vh;
          overflow: hidden;
          align-items: center;
          justify-content: center;
          background: url({{url_for("static", filename= "images/grill3.jpg")}});
          background-size: cover;
          background-color: rgba(0, 0, 0, 0.75) !important;
          background-blend-mode: darken;
        }
    </style>
</head>
<body>

<section class="full-screen-section">
    <!-- Top menu -->
    <nav class="navbar navbar-expand-lg navbar-light menu">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-row py-5">
                    <div class="navbar-col py-3">
                        <ul class="navbar-nav animate-slide">
                            <li class="nav-item active">
                                <a class="nav-link rotate-15" href="#">Týdenní menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link only-hover" href="#">Jídelní lístek</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rotate-minus-15" href="#">Nápojový lístek</a>
                            </li>
                        </ul>
                    </div>


                    <div class="navbar-col py-3">
                        <ul class="navbar-nav animate-slide">
                            <li class="nav-item">
                                <a class="nav-link rotate-minus-15" href="#">Fotogalerie</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link only-hover" href="#contact">Kontakt</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rotate-15" href="#reservation">Rezervace</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container container-text d-flex flex-column justify-content-center align-items-center">
        <h1 class="grill-text">
          <span class="grill-text-steak" id="steakHouse">Steak House</span>
          <span class="grill-text-a" id="letterA">&</span>
          <span class="grill-text-grill" id="grillBar">Grill Bar</span>
        </h1>
        <p class="bar-text py-5">Nejlepší steaky a grilované maso v ČR.</p>


            <div class="bottom-icon py-5 d-flex justify-content-center align-items-center">
        <a href="#section2" class="link-no-decoration">
            <i class="down-icon fa-sharp fa-solid fa-angles-down fa-5x"></i>
        </a>
    </div>

    </div>



</section>

<!-- Druhá sekce -->
<section class="section second-section">
    <div class="container">
        <h1 class="welcome-text pt-5 show-from-bottom">
            <span>Vítejte ve </span>
            <span>SteakHouse</span>
        </h1>

                <div class="row pt-5">
            <div class="col-12 col-lg-4">
                    <h1 class="second-section-h pb-2 show-from-bottom">Skvělé místo</h1>
                                <p class="second-section-text mx-3 show-from-bottom">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer malesuada. Aenean placerat.
                    Donec quis nibh at felis congue commodo. Nulla pulvinar eleifend sem.
                    Pellentesque sapien. Integer rutrum, orci vestibulum ullamcorper ultricies,
                    lacus quam ultricies odio, vitae placerat pede sem sit amet enim</p>
            </div>

            <div class="col-12 col-lg-4">
                <h1 class="second-section-h pb-2 show-from-bottom">Výborné jídlo</h1>
                                <p class="second-section-text mx-3 show-from-bottom">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer malesuada. Aenean placerat.
                    Donec quis nibh at felis congue commodo. Nulla pulvinar eleifend sem.
                    Pellentesque sapien. Integer rutrum, orci vestibulum ullamcorper ultricies,
                    lacus quam ultricies odio, vitae placerat pede sem sit amet enim</p>
            </div>

                                <div class="col-12 col-lg-4">
                                    <h1 class="second-section-h pb-2 show-from-bottom">Dobré pití</h1>
                <p class="second-section-text mx-3 show-from-bottom">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer malesuada. Aenean placerat.
                    Donec quis nibh at felis congue commodo. Nulla pulvinar eleifend sem.
                    Pellentesque sapien. Integer rutrum, orci vestibulum ullamcorper ultricies,
                    lacus quam ultricies odio, vitae placerat pede sem sit amet enim</p>
            </div>

<div class="row pt-5 show-from-bottom-image">
  <div class="col-12 col-lg-6 py-5">
    <img class="img-fluid restaurant-images show-from-bottom" src="{{ url_for('static', filename='images/restaurant.jpg') }}">
  </div>
  <div class="col-12 col-lg-6 py-5">
    <img class="img-fluid restaurant-images show-from-bottom" src="{{ url_for('static', filename='images/restaurant1.jpg') }}">
  </div>
</div>
        </div>
    </div>
</section>

<!-- Třetí sekce -->
<section class="section third-section">
    <div class="container">
        <h1 class="speciality-text pt-5 show-from-bottom">
            <span>SteakHouse</span>
            <span>Speciality</span>
        </h1>

        <!-- Gallery -->
        <div class="row py-5">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/food1.jpg') }}" class="w-100 shadow-1-strong rounded mb-4 show-from-bottom" alt="">
                    <div class="overlay">
                        <h1 class="overlay-text-h-one">Hovězí závitek</h1>
                        <p class="overlay-text-p-one">Grilované hovězí s bramborovou kaší omáčkou a zeleninou</p>
                    </div>
                </div>

                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/food3.jpg') }}" class="w-100 shadow-1-strong rounded mb-4 show-from-bottom" alt="">
                    <div class="overlay">
                        <h1 class="overlay-text-h-one">Vepřová krkovice</h1>
                        <p class="overlay-text-p-one">Vepřová krkovice na grilu s francouzkými bramborami a zeleninou</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/food5.jpg') }}" class="w-100 shadow-1-strong rounded mb-4 show-from-bottom" alt="">
                    <div class="overlay">
                        <h1 class="overlay-text-h-one">Mleté vepřové</h1>
                        <p class="overlay-text-p-one">Mleté vepřové na grilu s vejcem brambory a omáčkou</p>
                    </div>
                </div>

                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/food4.jpg') }}" class="w-100 shadow-1-strong rounded mb-4 show-from-bottom" alt="">
                    <div class="overlay">
                        <h1 class="overlay-text-h-one">Vepřový bůček</h1>
                        <p class="overlay-text-p-one">Vepřový bůček na prkně s omáčkou a chlazeným pivem</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/food6.jpg') }}" class="w-100 shadow-1-strong rounded mb-4 show-from-bottom" alt="">
                    <div class="overlay">
                        <h1 class="overlay-text-h-one">Hovězí steak</h1>
                        <p class="overlay-text-p-one">Hovězí steak s cibulovými kroužky a grilovanou kukuřicí</p>
                    </div>
                </div>

                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/food7.jpg') }}" class="w-100 shadow-1-strong rounded mb-4 show-from-bottom" alt="">
                    <div class="overlay">
                        <h1 class="overlay-text-h-one">Krkovička na grilu</h1>
                        <p class="overlay-text-p-one">Vepčová krkovice na grilu se zeleninou a rajčatovou omáčkou</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery -->


        <div class="row">
            <div class="col-12 col-lg-4 py-3 show-from-bottom">
                <a class="food-link" href="#">Jídelní lístek</a>

            </div>

                        <div class="col-12 col-lg-4 py-3 show-from-bottom">
               <a class="food-link" href="#">Nápojový lístek</a>

            </div>

                        <div class="col-12 col-lg-4 py-3 show-from-bottom">
             <a class="food-link" href="#">Týdenní menu</a>

            </div>

        </div>
    </div>
</section>

<section class="section four-section" id="reservation">
    <div class="container">
    <h1 class="kontakt-text pt-5 show-from-bottom"> Rezervace  </h1>


<form method="POST" autocomplete="off" class="form">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    <div class="row">
    <div class="form-group col-12 col-lg-4 show-from-bottom">
        <div class="form-text py-3">{{ form.name.label(class="form-label") }}</div>
        <div class="form-field">{{ form.name(class="form-control") }}</div>
    </div>

    <div class="form-group col-12 col-lg-4 show-from-bottom">
        <div class="form-text py-3">{{ form.email.label(class="form-label") }}</div>
        <div class="form-field">{{ form.email(class="form-control") }}</div>
    </div>

    <div class="form-group col-12 col-lg-4 show-from-bottom">
        <div class="form-text py-3">{{ form.phone.label(class="form-label") }}</div>
        <div class="form-field">{{ form.phone(class="form-control") }}</div>
    </div>

        </div>
<div class="row">
    <div class="form-group col-12 col-lg-4 py-3 show-from-bottom">
        <div class="form-text py-3">{{ form.reservation_date.label(class="form-label") }}</div>
        <div class="form-field">{{ form.reservation_date(class="form-control") }}</div>
    </div>

    <div class="form-group col-12 col-lg-4 py-3 show-from-bottom">
       <div class="form-text py-3"> {{ form.reservation_time.label(class="form-label") }}</div>
        <div class="form-field">{{ form.reservation_time(class="form-control") }}</div>
    </div>

    <div class="form-group col-12 col-lg-4 py-3 show-from-bottom">
        <div class="form-text py-3">{{ form.num_guests.label(class="form-label") }}</div>
        <div class="form-field">{{ form.num_guests(class="form-control") }}</div>
    </div>
</div>

    <input type="submit" value="Create Reservation" class="btn btn-danger my-5 show-from-bottom">
</form>

        <p class="reservation-text show-from-bottom">
            Online rezervace fungují každý všední den od 7:30 do 17:00. </p>

<p class="reservation-text show-from-bottom">Potvrzení rezervace obdržíte emailem nebo telefonicky do 24 hodin. Děkujeme</p>

<p class="reservation-text show-from-bottom">Telefonické rezervace lze na čísle +420 123 456 789</p>

    </div>
</section>


<section class="section five-section" id="contact">
    <div class="container">
        <h1 class="kontakt-text pt-5 show-from-bottom"> Kontakt  </h1>
        <div class="row">
            <div class="col-12 col-lg-6 py-3">
                <div class="oteviracka text-center">
<h1 class="py-3 show-from-bottom">Otevírací doba</h1>
<table>
<tbody>
<tr class="show-from-bottom">
<td>Pondělí</td>
<td>11:00 - 23:00</td>
</tr>
<tr class="show-from-bottom">
<td>Úterý</td>
<td>11:00 - 23:00</td>
</tr>
<tr class="show-from-bottom">
<td>Středa</td>
<td>11:00 - 23:00</td>
</tr>
<tr class="show-from-bottom">
<td>Čtvrtek</td>
<td>11:00 - 23:00</td>
</tr>
<tr class="show-from-bottom">
<td>Pátek</td>
<td>11:00 - 23:00</td>
</tr>
<tr class="show-from-bottom">
<td>Sobota</td>
<td>11:00 - 23:00</td>
</tr>
<tr class="show-from-bottom">
<td>Neděle</td>
<td>11:00 - 22:00</td>
</tr>
</tbody>
</table>
</div>


            </div>

           <div class="col-12 col-lg-6 py-3">
                <h1 class="py-5 show-from-bottom">Adresa</h1>

               <p class="py-1 adresa-text show-from-bottom">SteakHouse s. r. o.</p>
               <p class="py-1 adresa-text show-from-bottom">ICO: 123456789</p>
               <p class="py-1 adresa-text show-from-bottom">DIC: CZ123456789</p>
               <p class="py-1 adresa-text show-from-bottom">Usilné 12358/69</p>
               <p class="py-1 adresa-text show-from-bottom">České Budějovice 370 10</p>


            </div>

        </div>

        <div class="row text-center">
            <div class="col-12">
            <h1 class="py-5 show-from-bottom">Ozvěte se nám</h1>
                <p class="py-1 adresa-text show-from-bottom">+420 123 456 789 rezervace míst a jídla sebou</p>
                <p class="py-1 adresa-text show-from-bottom">+420 963852741</p>
                <p class="py-1 adresa-text show-from-bottom">staekhouse@stakehouse.com</p>
        </div>
        </div>
    </div>
</section>



<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
        <p class="py-2 copyright-text">© made with ❤️ by Libor Havránek</p>
               <p><a href="/admin">admin</a></p>
                </div>
            </div>
    </div>
</footer>

<!-- Add Bootstrap JS scripts (jQuery and Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
<script src="{{ url_for('static', filename='js/bottom.js') }}"></script>
<script src="{{ url_for('static', filename='js/image-bottom.js') }}"></script>
<script src="{{ url_for('static', filename='js/textfirstsection.js') }}"></script>
</body>
</html>