<!DOCTYPE html>
<html>
<head>
    <title>Flask Project</title>
    <!-- Add Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script
      src="https://kit.fontawesome.com/0182eb43ce.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&family=Gravitas+One&family=Oranienbaum&family=Parisienne&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto+Mono:ital,wght@0,200;0,400;0,600;1,700&family=Rye&display=swap" rel="stylesheet">

    <style>
        /* Styl pro první sekci, která bude vždy velká jako obrazovka */
        .full-screen-section {
          height: 100vh;
          overflow: hidden;
          align-items: center;
          justify-content: center;
          background: url({{url_for("static", filename= "images/grill3.jpg")}});
          background-size: cover;
          background-color: rgba(0, 0, 0, 0.75) !important;
          background-blend-mode: darken;
        }
    </style>
</head>
<body>

<section class="full-screen-section">
    <!-- Top menu -->
    <nav class="navbar navbar-expand-lg navbar-light menu">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-row py-5">
                    <div class="navbar-col py-3">
                        <ul class="navbar-nav animate-slide">
                            <li class="nav-item active">
                                <a class="nav-link rotate-15" href="#">Týdenní menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link only-hover" href="#">Jídelní lístek</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rotate-minus-15" href="#">Nápojový lístek</a>
                            </li>
                        </ul>
                    </div>


                    <div class="navbar-col py-3">
                        <ul class="navbar-nav animate-slide">
                            <li class="nav-item">
                                <a class="nav-link rotate-minus-15" href="#">Fotogalerie</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link only-hover" href="#">Kontakt</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rotate-15" href="#">Rezervace</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container container-text d-flex flex-column justify-content-center align-items-center">
        <h1 class="grill-text">
          <span class="grill-text-steak" id="steakHouse">Steak House</span>
          <span class="grill-text-a" id="letterA">&</span>
          <span class="grill-text-grill" id="grillBar">Grill Bar</span>
        </h1>
        <p class="bar-text py-5">Nejlepší steaky a grilované maso v ČR.</p>


            <div class="bottom-icon py-5 d-flex justify-content-center align-items-center">
        <a href="#section2" class="link-no-decoration">
            <i class="down-icon fa-sharp fa-solid fa-angles-down fa-5x"></i>
        </a>
    </div>

    </div>



</section>

<!-- Druhá sekce -->
<section class="section second-section">
    <div class="container">
        <h1 class="welcome-text pt-5">
            <span>Vítejte ve </span>
            <span>SteakHouse</span>
        </h1>

        <div class="row py-5">
            <div class="col-12 col-lg-6">
                ahojky
            </div>

            <div class="col-12 col-lg-6">
                ahojky
            </div>



        </div>
    </div>
</section>

<!-- Třetí sekce -->
<section class="section third-section">
    <div class="container">
        <h2>Třetí sekce</h2>
        <p>Toto je třetí sekce na stránce.</p>
    </div>
</section>

<section class="section four-section">
    <div class="container">
        <h2>Třetí sekce</h2>
        <p>Toto je třetí sekce na stránce.</p>
    </div>
</section>


<section class="section five-section">
    <div class="container">
        <h2>Třetí sekce</h2>
        <p>Toto je třetí sekce na stránce.</p>
    </div>
</section>


<section class="section six-section">
    <div class="container">
        <h2>Třetí sekce</h2>
        <p>Toto je třetí sekce na stránce.</p>
    </div>
</section>

<!-- Footer -->
<footer class="bg-light">
    <div class="container">
        <p>Toto je footer stránky.</p>
    </div>
</footer>

<!-- Add Bootstrap JS scripts (jQuery and Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
<script src="{{ url_for('static', filename='js/textfirstsection.js') }}"></script>
</body>
</html>